<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Map Bot
  </h1>
  <iframe
  src="https://dist.bambuser.net/player/?resourceUri=https%3A%2F%2Fcdn.bambuser.net%2Fbroadcasts%2F6d3bd35b-156e-4b33-9598-cc90bd05aa37%3Fda_signature_method%3DHMAC-SHA256%26da_id%3D9e1b1e83-657d-7c83-b8e7-0b782ac9543a%26da_timestamp%3D1562874238%26da_static%3D1%26da_ttl%3D0%26da_signature%3D69849c437b4505c4c28d0901702017a30d1bea31e5a2ed6eb184951eb76a1e41"
  style="border: none"
  allowfullscreen></iframe>
</div>

<router-outlet></router-outlet>
